* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html {
    overflow-x: hidden;
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body {
    height: 100vh;
    overflow-y: scroll;
}

:root {
    --white: #ffff;

    --darkBlue: #0e041f;
    --ash: #5e5d61;

    --purple: #9c1778;
    --black: black;
    --var--background: linear-gradient(to bottom, rgb(28, 3, 31), rgba(189, 8, 120, 0.765), rgb(33, 8, 32));  
}
 
.login-container{
    margin: 100px 0px 100px 200px;
    width: 300px;
    height: 370px;
    background: var(--var--background);
    border-radius: 20px;
    
}
.login-container h2{
    padding: 30px 0px 30px 0px;
    color: var(--white);
    text-align: center;
}

.input-group{
    display: flex;
    justify-content: center;
    width: auto;
    flex-wrap: wrap;
}

.login-input{
    width: 240px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    border: none;
}

.login-container .forgot-link{
    margin-left: 46%; 
}
.login-container button{
    margin-left: 35%;
    width: 90px;
    background-color: var(--purple);
    color: var(--white);
    padding: 5px 5px;
    border: none;
    border-radius: 30px;
    font-size: .9rem;
    margin-top: 8px;
    transition: .5s;
}
.login-container button:hover{
    background-color: var(--white);
    color: black;
    cursor: pointer;
}

.login-container p{
    color: var(--white);
    padding: 10px;
}
.login-account a{
    display: block;
    margin-left: 20%;
    background-color: var(--white);
    text-align: center;
    height: 30px;
    width: 170px;
    padding: 8px 0px 0px 0px;
    border: none;
    border-radius: 5px;
    font-size: .9rem;
    margin-top: 8px;
    transition: .5s;
}

.login-account a:hover{
    background-color: var(--purple);
    color: var(--white); 
}

/* Media Queries */
@media (max-width: 768px) {
    .login-container {
        margin: 50px 20px;
    }

    .login-account a {
        width: 170px;
    }
}

@media (max-width: 480px) {
    .login-container {
        margin: 20px 10px;
    }

}